 <!-- Show product-->

<!-- title -->
<div class="content-body title">
	<h1 id="text-center">Add new variant: <%= @product.title %></h1>

<!-- menu Navigation-->
	<ul class="menu-nonhome">
		<li><%= link_to 'HOME', root_url %></li>
		<li><%= link_to category_path('new') do %>CATEGORIES<% end %></li>
		<li><%= link_to 'PRODUCTS', product_path('new') %></li>
		<li><%= link_to 'VARIANTS', variant_path('new') %></li>
	</ul>
	
	<div class="menu-nonhome-border"></div>

<!-- Form for new products for category-->
	
	<div class="form">

<!-- form Image side -->	
		<%= simple_form_for Variant.new do |f| %>
			<div class="image">
				<p>This is where the photo goes </p>
				<br>
				<p>extra credit</p>
				<div class="add-photo-button">
					<%= f.filepicker_field :img, button_text: "Add Variant Photo" %>
				</div>
			</div>

<!-- form Input side -->
		<div class="input-fields">
			<%= f.input :title, placeholder: "Title" %>
			<%= f.input :product_id, input_html: {value: @product.id}, wrapper_html:{ class: 'dissapear'}%>
			<%= f.input :price, placeholder: "Price" %>
			<div class="button_div">
				<%= f.submit "Add Variant", :class =>'button_class' %>
			</div>
		</div>

		<% end %>	
	</div>

<!-- list of variants -->

	<h1 id="text-center"> <%= @product.title %> variant list</h1>
	

	<div class="window-display unmain">
		<% @variants.each do |variant| %>
			<div class="store-window">
				<div class='store-item'>
					<%= filepicker_image_tag variant.img, w:180, h:180 %>
				</div>

				<div class="item-title"><%= variant.title %></div>
				<div class="item-desc"><%= variant.price %></div>
			</div>
		<% end %>

	</div>
</div>